<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=1280">

  <!-- link to google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet">

  <!-- linkto tailwindcss -->
  <link rel="stylesheet" href="../static/dist/style.css">

  <!-- link to phosphor icons -->
  <link rel="stylesheet" href="../static/icons/regular.css">
  <link rel="stylesheet" href="../static/icons/bold.css">

  <!-- link to favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="../static/imgs/pngs/logo.png">

  <!-- title of the page -->
  <title>TeleMedi</title>
</head>

<body>
  <header class="fixed top-0 left-0 w-full items-center justify-between bg-none py-3.5 z-[1000]">
    <div id="title" class="w-fit items-center gap-1.5">
      <img src="../static/imgs/pngs/logo.png" alt="Medicex logo" class="w-9">
      <h3 class="text-4xl text-l font-extrabold mono">TeleMedi</h3>
    </div>

    <nav class="w-fit items-center justify-center gap-5">
      <a href="#" class="text-lg">Home</a>
      <a href="#doctors" class="text-lg">Doctors</a>
      <a href="#treatment" class="text-lg">Treatment</a>
      <a href="#appointments" class="text-lg">Appointments</a>
      <a href="#blogs" class="text-lg">Articles</a>
    </nav>

    <div class="items-center justify-end gap-3.5">
      <button class="text-d px-7 py-3 rounded-lg bg-f hover:opacity-75">Login</button>
      <button class="text-w px-7 py-3 rounded-lg bg-b hover:opacity-75">Sign Up</button>
    </div>
  </header>
